section.InfoItem {
    position: relative;
    min-height: 90px;
    margin-bottom: 2em;
    color: white;
    .title {
        text-transform: uppercase;
        color: #ccc;
        font-size: 25px;
        margin-left: 120px;
       padding-top: 5px;
    }
    .value {
        font-size: 50px;
        font-weight: bold;
        margin-left: 140px;
    }
    .circle {
        position: absolute;
        top: 0;
        left: 0;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        .circleContent {
            position: relative;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background: #444;
            border: 8px solid #000;
            text-align: center;
            line-height: 60px;
            font-size: 25px;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            color: white;
            font-weight: bold;
        }
    }
}